<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="filePath" value="C:\Workspace\TournamentTracker"/>
	</appSettings>
	<connectionStrings>
		<add name="Tournaments" connectionString="Server=ELONOT5NRXQK3\SQLEXPRESS;Database=Tournaments_C_Sharp_practice;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>